FriendLoc/FriendLoc.Common/obj/
FriendLoc/FriendLoc.Common/bin/
FriendLoc/FriendLoc.Droid/obj/
FriendLoc/FriendLoc.Droid/bin/
FriendLoc/.vs/
*.DS_Store
FriendLoc/FriendLog.IOS/obj/
FriendLoc/FriendLog.IOS/bin/
FriendLoc/.idea/
FriendLoc/iCho/FontIcon.Tool/bin/
FriendLoc/iCho/FontIcon.Tool/obj/
FriendLoc/iCho/iCho.UI.Android/bin/
FriendLoc/iCho/iCho.UI.Android/obj/
FriendLoc/iCho/iCho.UI.iOS/bin/
FriendLoc/iCho/iCho.UI.iOS/obj/
FriendLoc/iCho/iCho.UI/obj/
FriendLoc/packages/
FriendLoc/iCho/iCho.UI/bin/
iCho/FontIcon.Tool/obj/
iCho/iCho.Core/obj/
iCho/iCho.UI.Android/bin/
iCho/iCho.UI.Android/obj/
iCho/iCho.UI.iOS/bin/
iCho/iCho.UI.iOS/obj/
iCho/iCho.UI/bin/
iCho/iCho.UI/obj/
iCho/FontIcon.Tool/bin/
iCho/iCho.Core/bin/
iCho/.vs/
Youtusic/MusicApp/MusicApp.Android/obj/
Youtusic/MusicApp/MusicApp.Android/bin/
Youtusic/MusicApp/MusicApp/obj/
Youtusic/MusicApp/MusicApp/bin/
Youtusic/.vs/
Youtusic/MusicApp/MusicApp.iOS/bin/
Youtusic/MusicApp/MusicApp.iOS/obj/
